<div class="row row-cols-1 row-cols-md-3 g-4 my-5 animated fadeIn">
    <div (click)="seeArtist(item)" *ngFor="let item of items" class="mx-1 card h-100 pointer">
        <img [src]="item.images | noimage" class="card-img-top py-2" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">
                <span *ngIf="item.artists">
                    <span *ngFor="let artist of item.artists" class="badge rounded-pill bg-primary">
                        {{ artist.name }}
                    </span></span>
            </p>
        </div>
    </div>
</div>